.demoAlert {
    background: #FFFFFF;
    box-shadow: 15px 12px 2px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    padding: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
}

.text {
    width: 80%;
}

.coloredText {
    background: rgb(45,33,171);
    background: linear-gradient(90deg, rgba(45,33,171,1) 0%, rgba(161,59,159,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    width: 100%;
    margin: 0px 100px;
}